<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
      android:name="android.hardware.camera"
      android:required="false" />

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
      tools:ignore="ScopedStorage" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
      android:name="com.zfdang.SMTHApplication"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true"
      android:preserveLegacyExternalStorage="true"
      tools:replace="android:name"
      tools:targetApi="r">
    <service
        android:name=".services.KeepAliveService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType= "specialUse"
        android:permission= "android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        tools:ignore="ForegroundServicePermission">
    </service>
    <activity
        android:name=".MainActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:exported="true"
        android:launchMode="standard"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/AppTheme.NoActionBar.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".LoginActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="@string/title_activity_login" />
    <activity android:name=".WebviewLoginActivity"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".BoardTopicActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_topic_list"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".MailContentActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_mail_content"
        android:theme="@style/AppTheme.NoActionBar" />
    <!-- // OpenGLRenderer: Shape too large to be rendered into a texture (1428x42739, max=8192x8192) -->
    <!-- so we disable hardwareAccelerated for postListActivity & FSImageViewer -->
    <activity
        android:name=".PostListActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_topic_detail"
        android:launchMode="standard"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".ComposePostActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_compose_post"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".QueryUserActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_query_user"
        android:theme="@style/AppTheme.NoActionBar" />
    <!-- full screen activities -->
    <activity
        android:name=".FSImageViewerActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="false"
        android:label="@string/title_activity_fullscreen_image_viewer"
        android:theme="@style/FullscreenTheme" />
    <!-- External activities -->
    <activity
        android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
        android:configChanges="orientation|screenSize" />
    <!-- service -->
    <!-- aadapt to S8 and Mix2 -->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.5" />
  </application>

</manifest>